<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e184110c-0761-49b0-b415-7137895ff56a" Alias="articlePage" Level="3">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-diploma-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates an article page for the website. Can be used for things such a blog, news and standard article pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Article+Types</Folder>
    <Compositions>
      <Composition Key="b5504ab7-7a33-4804-8b97-a641b475456b">seo</Composition>
      <Composition Key="8c3d7e30-2565-4fae-a8a5-33888674b74b">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="81cbc9e4-7003-4071-89af-ec5b8995e927">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3c720a1-68ea-4c76-a50a-191705a270f4</Key>
      <Name>Content Type</Name>
      <Alias>contentType</Alias>
      <Definition>c95cbdc0-db34-45bd-b280-b924fb6cc355</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Specify the type of content]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>577d9c24-a1a8-4445-bc5c-4a1745d715cf</Key>
      <Name>Image</Name>
      <Alias>pageImage</Alias>
      <Definition>6f4fc2d1-4e4e-4522-9a39-9d76b600350b</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload an image for the article]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0c2ba5e8-6ba9-46cb-a44e-2fd4f3859c57</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The article published date]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>