<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84c069d6-95b1-428e-be1c-2fc254eba27e" Alias="articlesLandingPage" Level="2">
  <Info>
    <Name>Articles Landing Page</Name>
    <Icon>icon-folder-outline color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates an article landing page for the website. Can be used to display lists of blog, news and standard article pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5fd3cbdf-9409-42b2-ae2f-689255881bde">pageBanner</Composition>
      <Composition Key="b5504ab7-7a33-4804-8b97-a641b475456b">seo</Composition>
      <Composition Key="8c3d7e30-2565-4fae-a8a5-33888674b74b">standardPage</Composition>
    </Compositions>
    <DefaultTemplate>ArticleLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a60d4b0-5379-4d2d-8be3-1ca64ed35348">ArticleLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e184110c-0761-49b0-b415-7137895ff56a" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>