<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b59bbc24-74d7-414c-9105-53a9283ec2a5" Alias="eventsLandingPage" Level="2">
  <Info>
    <Name>Events Landing Page</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Creates an events landing page for the website which can be used to display lists of event pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8c3d7e30-2565-4fae-a8a5-33888674b74b">content</Composition>
      <Composition Key="5fd3cbdf-9409-42b2-ae2f-689255881bde">pageBanner</Composition>
      <Composition Key="b5504ab7-7a33-4804-8b97-a641b475456b">seo</Composition>
    </Compositions>
    <DefaultTemplate>EventLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="729ab949-d103-448e-b149-c2cba8f72b98">EventLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9999495-f76d-48fc-a038-bbf4352274d5" SortOrder="0">eventPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>