<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64cd8886-fcec-41db-a998-53eea803d9ee" Alias="faqPage" Level="2">
  <Info>
    <Name>FAQ Page</Name>
    <Icon>icon-shipping-box color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This page is used for displaying FAQ entries</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b5504ab7-7a33-4804-8b97-a641b475456b">seo</Composition>
    </Compositions>
    <DefaultTemplate>FAQPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a6377844-95bb-48cb-9378-80709a1b753a">FAQPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>053017a2-366f-4e49-9cc6-d594886bc72a</Key>
      <Name>Entries</Name>
      <Alias>entries</Alias>
      <Definition>902cddee-197c-4bdd-b81a-2b053f8aeb8d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The FAQ entries]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>