<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fd3cbdf-9409-42b2-ae2f-689255881bde" Alias="pageBanner" Level="2">
  <Info>
    <Name>Page Banner</Name>
    <Icon>icon-width color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page banner document type to share common properties</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4f4deba5-d423-4aee-900f-24d8c2ecc922</Key>
      <Name>Banner Heading</Name>
      <Alias>bannerHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The heading used in the page banner]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ed842672-7e52-4261-8e81-92b749e2656c</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>115578ed-9255-4385-ab61-8163c4039c87</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload a page banner image. 1920x450]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>04ef663f-5359-4d70-b34a-194148c349a1</Key>
      <Name>Strapline</Name>
      <Alias>strapline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A small strapline to display beneath the banner heading]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>