<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b60fc0b-ee23-4455-82af-55e3e6f3e440" Alias="teaser" Level="2">
  <Info>
    <Name>Teaser</Name>
    <Icon>icon-tab-key color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1357b560-bc8e-48d4-9bed-1e892cf9043e</Key>
      <Name>Teaser Image</Name>
      <Alias>teaserImage</Alias>
      <Definition>a72eedef-cfb4-4086-ad21-4054dd25841a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>effbb152-4855-4f96-a380-e5b463ecf8af</Key>
      <Name>Teaser Text</Name>
      <Alias>teaserText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Teaser</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>