<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9f7a9e22-7c59-464c-9da2-98211233c443" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe-inverted-europe-africa color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Containers</Folder>
    <Compositions>
      <Composition Key="8f775d40-83b7-4340-90fe-ef4a4d073c9d">settings</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f8bffde-499d-4292-9af7-53a865b61415">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c83634d5-b899-42c7-be76-dbb3eb3feae5" SortOrder="0">homePage</ContentType>
    <ContentType Key="ad9aeaed-b2d4-4e37-ac79-25a50c20950b" SortOrder="1">contentPage</ContentType>
    <ContentType Key="64cd8886-fcec-41db-a998-53eea803d9ee" SortOrder="2">faqPage</ContentType>
    <ContentType Key="84c069d6-95b1-428e-be1c-2fc254eba27e" SortOrder="3">articlesLandingPage</ContentType>
    <ContentType Key="b59bbc24-74d7-414c-9105-53a9283ec2a5" SortOrder="4">eventsLandingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>afe456fb-2443-4b5f-95c5-8a062d741dca</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>ec6a33e8-8b7f-4a1a-8559-256c4f6f9ade</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6adf961e-86b4-4103-a0c0-72c697476d38</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>0d195177-0275-49ea-bb30-951efff617dc</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigations</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>