<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa40bc4e-d68b-4824-9b95-1c76d77d3d33" Alias="About" Level="2">
  <Info>
    <Parent Key="95b8da1a-7b87-4266-9c50-9d55de86e422">Non Profit Org</Parent>
    <Path>/NonProfitOrg/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2020-10-09T21:55:05</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fd769d0-659d-43b5-b3c5-c5f135b5e0ae">ContentPage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>