<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5a75e4b-9be1-4a8b-8e4f-59f770ea5db3" Alias="Blog Item Two" Level="4">
  <Info>
    <Parent Key="16ae24c1-f501-4566-b7c4-8391cf0c9804">Blog</Parent>
    <Path>/Website/Home/Blog/BlogItemTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2020-10-10T07:24:20</CreateDate>
    <NodeName Default="Blog Item Two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81cbc9e4-7003-4071-89af-ec5b8995e927">ArticlePage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <contentType>
      <Value><![CDATA[Blog]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heading>
      <Value><![CDATA[Blog Item Two]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pageImage>
      <Value><![CDATA[]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>