<?xml version="1.0" encoding="utf-8"?>
<Content Key="0436f042-ab55-42bd-8da9-d7fc065b161f" Alias="Buckingham Palace Booze Cruise" Level="3">
  <Info>
    <Parent Key="ab823fff-da3f-4d95-851c-b869028dfdf1">Events</Parent>
    <Path>/NonProfitOrg/Events/BuckinghamPalaceBoozeCruise</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2020-10-11T20:46:32</CreateDate>
    <NodeName Default="Buckingham Palace Booze Cruise" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8971b5fe-5cbb-4996-bd85-a2e9e8dcf53e">Event</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[]]></Value>
    </endDate>
    <heading>
      <Value><![CDATA[Buckingham Palace Booze Cruise ]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <location>
      <Value><![CDATA[Westminster, London SW1A 1AA]]></Value>
    </location>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <pageImage>
      <Value><![CDATA[]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <startDate>
      <Value><![CDATA[2020-11-11T10:00:00]]></Value>
    </startDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <venue>
      <Value><![CDATA[Buckingham Palace]]></Value>
    </venue>
  </Properties>
</Content>