<?xml version="1.0" encoding="utf-8"?>
<Content Key="798f56af-9dab-44d5-adb9-bdd849a4a368" Alias="FAQ" Level="2">
  <Info>
    <Parent Key="95b8da1a-7b87-4266-9c50-9d55de86e422">Non Profit Org</Parent>
    <Path>/NonProfitOrg/FAQ</Path>
    <Trashed>false</Trashed>
    <ContentType>faqPage</ContentType>
    <CreateDate>2020-10-10T21:08:32</CreateDate>
    <NodeName Default="FAQ">
      <Name Culture="en-us">FAQ</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a6377844-95bb-48cb-9378-80709a1b753a">FAQPage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value Culture="en-us"><![CDATA[The faq page]]></Value>
    </description>
    <entries>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c87111ff-3710-40d7-972f-08dedcbbc9b1",
    "name": "Item 1",
    "ncContentTypeAlias": "faqEntry",
    "question": "Is this non profit?",
    "answer": "<p><strong>It is!</strong></p>"
  }
]]]></Value>
    </entries>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pagetitle>
      <Value Culture="en-us"><![CDATA[FAQ]]></Value>
    </pagetitle>
    <tags>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>