<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0f01c30-3d8d-46be-89e3-e9b54ab6dc6d" Alias="Home" Level="2">
  <Info>
    <Parent Key="95b8da1a-7b87-4266-9c50-9d55de86e422">Non Profit Org</Parent>
    <Path>/NonProfitOrg/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2020-10-08T16:35:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bff3119e-ae3b-45f4-8986-162d5fe5a04d">HomePage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>