<?xml version="1.0" encoding="utf-8"?>
<Content Key="c26b04be-75b8-4cca-8897-dc7a92364b23" Alias="News Item Three" Level="4">
  <Info>
    <Parent Key="851f4485-bb44-4bca-a597-f38a76c8612f">News</Parent>
    <Path>/Website/Home/News/NewsItemThree</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2020-10-10T07:21:27</CreateDate>
    <NodeName Default="News Item Three" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81cbc9e4-7003-4071-89af-ec5b8995e927">ArticlePage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <contentType>
      <Value><![CDATA[News]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heading>
      <Value><![CDATA[News Item Three]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pageImage>
      <Value><![CDATA[{"crops":[{"alias":"listingImage","width":400,"height":400},{"alias":"pageImage","width":800,"height":800,"coordinates":{"x1":0.091468777484608618,"y1":0,"x2":0.15853122251539142,"y2":0}}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/tkmbnfiq/dariusz-sankowski-abamxzlot8e-unsplash.jpg"}]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>