<?xml version="1.0" encoding="utf-8"?>
<Content Key="550ee882-fdbb-492c-8b2c-22b562f9b53b" Alias="News Item Two" Level="4">
  <Info>
    <Parent Key="851f4485-bb44-4bca-a597-f38a76c8612f">News</Parent>
    <Path>/Website/Home/News/NewsItemTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2020-10-10T07:21:11</CreateDate>
    <NodeName Default="News Item Two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81cbc9e4-7003-4071-89af-ec5b8995e927">ArticlePage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <contentType>
      <Value><![CDATA[News]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heading>
      <Value><![CDATA[News Item Two]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pageImage>
      <Value><![CDATA[]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>