<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c92270a-3954-451a-9f63-e41cb1822890" Alias="News" Level="3">
  <Info>
    <Parent Key="cf5c2c5b-b059-4e83-bf99-7a5a34740e0d">Home</Parent>
    <Path>/Website/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>articleLandingPage</ContentType>
    <CreateDate>2020-10-10T07:19:33</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a60d4b0-5379-4d2d-8be3-1ca64ed35348">ArticleLandingPage</Template>
  </Info>
  <Properties>
    <bannerHeading>
      <Value><![CDATA[Latest News]]></Value>
    </bannerHeading>
    <bannerImage>
      <Value><![CDATA[{"src":"/media/paabm2ig/banner-test-image.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"bannerImage","width":1920,"height":450,"coordinates":{"x1":0.0016025641025640366,"y1":0.19943019943019943,"x2":0,"y2":0.049367877492877528}}]}]]></Value>
    </bannerImage>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heading>
      <Value><![CDATA[Latest News]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <strapline>
      <Value><![CDATA[Keep right up to date with all our latest news]]></Value>
    </strapline>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>