<?xml version="1.0" encoding="utf-8"?>
<Content Key="95b8da1a-7b87-4266-9c50-9d55de86e422" Alias="Non Profit Org" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NonProfitOrg</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2020-10-08T16:35:38</CreateDate>
    <NodeName Default="Non Profit Org" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7f8bffde-499d-4292-9af7-53a865b61415">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/c0f01c303d8d46be89e3e9b54ab6dc6d]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>