<?xml version="1.0" encoding="utf-8"?>
<Content Key="95b8da1a-7b87-4266-9c50-9d55de86e422" Alias="Non Profit Org" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NonProfitOrg</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2020-10-08T16:35:38</CreateDate>
    <NodeName Default="Non Profit Org" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7f8bffde-499d-4292-9af7-53a865b61415">Website</Template>
  </Info>
  <Properties>
    <footerNavigation>
      <Value><![CDATA[[
  {
    "id": 1081,
    "udi": "umb://document/fa40bc4ed68b48249b951c76d77d3d33",
    "name": "About",
    "collapsed": true,
    "url": "/about/",
    "children": [],
    "icon": "icon-document color-black",
    "published": true,
    "naviHide": false,
    "culture": "undefined"
  }
]]]></Value>
    </footerNavigation>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "id": 1099,
    "udi": "umb://document/851f4485bb444bcaa597f38a76c8612f",
    "name": "News",
    "url": "/news/",
    "children": [],
    "icon": "icon-folder-outline color-black",
    "published": true,
    "naviHide": false,
    "culture": "[object Object]"
  },
  {
    "id": 1106,
    "udi": "umb://document/af3df8d247f54697a4ec4c9ab4f15ed9",
    "name": "Events",
    "url": "/events/",
    "children": [],
    "icon": "icon-calendar-alt color-black",
    "published": true,
    "naviHide": false,
    "culture": "[object Object]"
  },
  {
    "id": 1081,
    "udi": "umb://document/fa40bc4ed68b48249b951c76d77d3d33",
    "name": "About",
    "url": "/about/",
    "children": [],
    "icon": "icon-document color-black",
    "published": true,
    "naviHide": false,
    "culture": "undefined"
  }
]]]></Value>
    </mainNavigation>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/c0f01c303d8d46be89e3e9b54ab6dc6d]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>