<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d629a00-d1ce-4011-8d61-22d92096fbf8" Alias="Royal Liver Building Meetup" Level="3">
  <Info>
    <Parent Key="af3df8d2-47f5-4697-a4ec-4c9ab4f15ed9">Events</Parent>
    <Path>/NonProfitOrg/Events/RoyalLiverBuildingMeetup</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2020-10-11T20:46:53</CreateDate>
    <NodeName Default="Royal Liver Building Meetup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8971b5fe-5cbb-4996-bd85-a2e9e8dcf53e">Event</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2020-10-25T19:00:00]]></Value>
    </endDate>
    <heading>
      <Value><![CDATA[Royal Liver Building Meetup]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <location>
      <Value><![CDATA[Pier Head, Liverpool L3 1HU]]></Value>
    </location>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <pageImage>
      <Value><![CDATA[]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <startDate>
      <Value><![CDATA[2020-10-22T09:00:00]]></Value>
    </startDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <venue>
      <Value><![CDATA[The Royal Liver Building]]></Value>
    </venue>
  </Properties>
</Content>