<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9ce8e11-1c8d-40e3-aa9b-bef0cde643a1" Alias="Snowdonia National Park" Level="3">
  <Info>
    <Parent Key="ab823fff-da3f-4d95-851c-b869028dfdf1">Events</Parent>
    <Path>/NonProfitOrg/Events/SnowdoniaNationalPark</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2020-10-11T20:46:44</CreateDate>
    <NodeName Default="Snowdonia National Park" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8971b5fe-5cbb-4996-bd85-a2e9e8dcf53e">Event</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2020-10-30T19:00:00]]></Value>
    </endDate>
    <heading>
      <Value><![CDATA[Snowdonia National Park]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <location>
      <Value><![CDATA[Penrhyndeudraeth, Gwynedd LL48 6LF]]></Value>
    </location>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <pageImage>
      <Value><![CDATA[{"crops":[{"alias":"listingImage","width":400,"height":400},{"alias":"pageImage","width":800,"height":800}],"focalPoint":{"left":0.5,"top":0.5},"src":"/media/k0fd2ts4/siddhant-kumar-hdmigxbjbkk-unsplash.jpg"}]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <startDate>
      <Value><![CDATA[2020-10-30T12:00:00]]></Value>
    </startDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <venue>
      <Value><![CDATA[Snowdonia National Park]]></Value>
    </venue>
  </Properties>
</Content>