<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bc88fe8-c3b2-4856-9b8f-93f638b1b21d" Alias="The latest news" Level="3">
  <Info>
    <Parent Key="851f4485-bb44-4bca-a597-f38a76c8612f">News</Parent>
    <Path>/NonProfitOrg/News/TheLatestNews</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2020-10-11T21:05:41</CreateDate>
    <NodeName Default="The latest news" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81cbc9e4-7003-4071-89af-ec5b8995e927">ArticlePage</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[[]]]></Value>
    </canonicalURL>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <contentType>
      <Value><![CDATA[News]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heading>
      <Value><![CDATA[]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pageImage>
      <Value><![CDATA[]]></Value>
    </pageImage>
    <pagetitle>
      <Value><![CDATA[]]></Value>
    </pagetitle>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
  </Properties>
</Content>