<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f4fc2d1-4e4e-4522-9a39-9d76b600350b" Alias="Article Image Cropper" Level="2">
  <Info>
    <Name>Article Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "listingImage",
      "width": 400,
      "height": 400
    },
    {
      "alias": "pageImage",
      "width": 800,
      "height": 800
    }
  ]
}]]></Config>
</DataType>