<?xml version="1.0" encoding="utf-8"?>
<DataType Key="115578ed-9255-4385-ab61-8163c4039c87" Alias="Banner Image Cropper" Level="2">
  <Info>
    <Name>Banner Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "bannerImage",
      "width": 1920,
      "height": 450
    }
  ]
}]]></Config>
</DataType>