<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c95cbdc0-db34-45bd-b280-b924fb6cc355" Alias="Content Type Radio Button List" Level="2">
  <Info>
    <Name>Content Type Radio Button List</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Article"
    },
    {
      "id": 2,
      "value": "Blog"
    },
    {
      "id": 3,
      "value": "News"
    }
  ]
}]]></Config>
</DataType>