<?xml version="1.0" encoding="utf-8"?>
<DataType Key="902cddee-197c-4bdd-b81a-2b053f8aeb8d" Alias="FAQ Editor" Level="2">
  <Info>
    <Name>FAQ Editor</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "fAQEntry",
      "ncTabAlias": "Content",
      "nameTemplate": "{{question}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>