<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d195177-0275-49ea-bb30-951efff617dc" Alias="Meganav 2 levels" Level="2">
  <Info>
    <Name>Meganav 2 levels</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 2,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>