<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec6a33e8-8b7f-4a1a-8559-256c4f6f9ade" Alias="Meganav 1 level" Level="2">
  <Info>
    <Name>Meganav 1 level</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 1,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>