<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec6a33e8-8b7f-4a1a-8559-256c4f6f9ade" Alias="Settings - Footer Navigation - MeganavV8" Level="1">
  <Info>
    <Name>Settings - Footer Navigation - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 1,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>