<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d195177-0275-49ea-bb30-951efff617dc" Alias="Settings - Main Navigation - MeganavV8" Level="1">
  <Info>
    <Name>Settings - Main Navigation - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 2,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>