<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4169fa4b-1ef6-4688-91ed-c53699128f1f" Alias="Single URL Picker" Level="1">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>