<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a72eedef-cfb4-4086-ad21-4054dd25841a" Alias="Single Image Picker" Level="1">
  <Info>
    <Name>Single Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>