<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8772674e-1142-4458-939c-13f54f7f8135" Alias="Standard Block List" Level="2">
  <Info>
    <Name>Standard Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>